:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}

/* JUSTE POUR RAPPELER POUR EXAM WEB */
:root {
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Inter, var(--default-font-family);
}

main {
  overflow-y: auto;
}

main, main * {
  box-sizing: border-box;
}

input, select, textarea, button {
  outline: 0;
}

a {
  text-decoration: none;
}

main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -moz-radial-gradient(center, #351138 0%, #010101 100%);
  background: -webkit-radial-gradient(center, #351138 0%, #010101 100%);
  background: radial-gradient(ellipse at center, #351138 0%, #010101 100%);
}

header {
  position: relative;
  height: 80px;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, #351138 0%, #35113800 100%);
  background: -webkit-linear-gradient(top, #351138 0%, #35113800 100%);
  background: linear-gradient(to bottom, #351138 0%, #35113800 100%);
  z-index: 1;
}

nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  top: 10px;
  left: 0;
  background-size: cover;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 225px;
  height: 45px;
  color: #9544b0;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  max-width: 400px;
  margin-left: 5%;
  background: #280d2b;
  border: 3px solid #9544b0;
  z-index: 16;
  border-radius: 50px;
}

.search-bar-input {
  position: relative;
  background: transparent;
  left: 15px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.search-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border: 0;
  right: 10px;
  margin-left: 20px;
  cursor: pointer;
  background: url("../images/search-icon.svg");
  background-size: cover;
}

.regroup-register-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 30%;
  top: 0;
  right: 5%;
}

.create-account, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 3px solid #9544b0;
  border-radius: 10000px;
  transform: perspective(1px);
  transition-property: background;
  transition-duration: 1s;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.create-account {
  background: #9544b0;
}

.create-account:hover {
  background: transparent;
  transform: perspective(1px);
  transition-duration: 1s;
}

.login {
  background: transparent;
}

.login:hover {
  background: #9544b0;
  transform: perspective(1px);
  transition-duration: 1s;
}

/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */


.welcome-message {
  display: flex;
  height: 39px;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #9544b0;
  font-size: 32px;
  font-weight: 800;
}

.category-background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-name {
  margin-left: 45px;
  margin-top: 50px;
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.media-group {
  position: relative;
  margin-left: 50px;
  display: flex;
  flex-wrap: nowrap;
  width: 384px;
  flex-direction: column;
}

.picture-related {
  height: 216px;
  border-radius: 27px;
  overflow: hidden;
  background-size: cover;
}

.picture-related:hover > .media-text-background {
  opacity: 1;
}
.picture-related:hover {
  background-color: aqua;
}

.media-text-background {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, #3511388e, #351138);
  background: -webkit-linear-gradient(top, #3511388e, #351138);
  background: linear-gradient(to bottom, #3511388e, #351138);
  opacity: 0;
  display: flex;
  flex-direction: row;
}

.liked {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 44px;
  height: 44px;
  /*margin-left: calc(100% - 44px);*/
  padding: 3px 3px 3px 3px;
  background: #351138;
  border-radius: 999px;
}

.heart {
  flex-shrink: 0;
  position: relative;
  width: 37px;
  height: 37px;
  background: no-repeat center;
  background-size: cover;
}

.media-text-description {
  margin: 10px;
  display: flex;
  align-items: end;
  flex-flow: wrap;
  color: white;
  max-height: 250px;
  font-size: 14px;
  font-weight: 600;
}

.media-text-title {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* REGISTER / LOGIN STYLE */

.register-login-container {
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
  max-width: 500px;
  padding: 20px;
  background: rgba(15, 15, 15, 0.6);
  border-radius: 32px;
}

.register-login-title {
  text-align: center;
  margin-bottom: 5%;
  color: #9544b0;
  font-size: xx-large;
  font-weight: 700;
}

.register-login-input-title {
  color: #9544b0;
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 10px;
}

.register-login-input-container {
  display: flex;
  height: 40px;
  max-width: 400px;
  padding: 5px;
  padding-left: 15px;
  background: #280d2b;
  border: 3px solid #9544b0;
  border-radius: 50px;
  margin-bottom: 10px;
}

.register-login-input {
  border: none;
  color: #ffffff;
  width: 100%;
  background: transparent;
  font-size: large;
  font-weight: 300;
}

.register-login-button {
  height: 50px;
  border: 3px solid #9544b0;
  border-radius: 10000px;
  transform: perspective(1px);
  transition-property: background;
  transition-duration: 1s;
  color: #fff;
  background: #9544b0;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  max-width: 470px;
}

.register-login-button:hover {
  background: transparent;
  transform: perspective(1px);
  transition-duration: 1s;
}



/* VIDEO PLAYER */

.video-js {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}


/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */

.search-background {
  margin-top: 100px;
}