:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
.main-container {
    overflow: hidden;
}
.main-container, .main-container * {
    box-sizing: border-box;
}
input, select, textarea, button {
    outline: 0;
}
.main-container {
    position: relative;
    background: #ffffff;
    overflow: hidden;
}
.flex-row-dc {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0 0 29px;
    z-index: 22;
}
.abc-movies {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 232px;
    height: 48px;
    top: 0;
    left: 0;
    color: #9544b0;
    font-family: Inter, var(--default-font-family);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 11px;
    position: absolute;
    max-width: max-content;
    height: 50px;
    top: 0;
    left: 20%;
    padding: 0 19px 0 19px;
    background: #280d2b;
    border: 3px solid #9544b0;
    z-index: 16;
    overflow: hidden;
    border-radius: 1000px;
    box-sizing: content-box;
}
.search-bar-input {
    flex-shrink: 0;
    position: absolute;
    width: 565px;
    height: 50px;
    top: 0;
    left: 0;
    padding-left: 5%;
    padding-right: 12%;
    background: transparent;
    border: none;
    z-index: 19;
    outline: none;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
}
.search-bar-input-1 {
    flex-shrink: 0;
    position: relative;
    width: 475px;
    height: 50px;
    background: transparent;
    z-index: 17;
}
.search-icon {
    flex-shrink: 0;
    position: relative;
    width: 41px;
    height: 41px;
    background: url("../images/search-icon.svg") no-repeat center;
    background-size: cover;
    z-index: 18;
    overflow: hidden;
}
.regroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 400px;
    height: 50px;
    top: 0;
    left: calc(100% - 550px);
    z-index: 22;
}
.create-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 11px;
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0 19px 0 19px;
    cursor: pointer;
    background: #9544b0;
    border: 3px solid #9544b0;
    z-index: 22;
    border-radius: 1000px;
    box-sizing: content-box;

    transform: perspective(1px);
    transition-duration: 1s;
}
.create-account:hover {
    background: transparent;
    transform: perspective(1px);
    transition-duration: 1s;
}
.create-account-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    width: 164px;
    color: #e0e0e0;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    z-index: 23;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 11px;
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0 19px 0 19px;
    margin: 0 0 0 20px;
    cursor: pointer;
    background: transparent;
    border: 3px solid #9544b0;
    z-index: 20;
    border-radius: 1000px;
    box-sizing: content-box;

    text-decoration: none;

    transform: perspective(1px);
    transition-duration: 1s;
}
.login:hover {
    background: #9544b0;
    transform: perspective(1px);
    transition-duration: 1s;
}
.login-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 106px;
    height: 24px;
    color: #e0e0e0;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}
.welcome-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 655px;
    height: 39px;
    margin: 47px 0 0 29px;
    color: #9544b0;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}
.category-background {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 61px 0 0 0;
    font-size: 0px;
    background: #351138;
    background: -moz-radial-gradient(center, #351138 0%, #10101000 100%);
    background: -webkit-radial-gradient(center, #351138 0%, #10101000 100%);
    background: radial-gradient(ellipse at center, #250c27 0%, #10101000 100%);
    background-size: cover;
    z-index: 3;
    overflow: visible auto;
}
.films-ici-toutv {
    display: block;
    position: relative;
    height: 17px;
    margin: 24px 0 0 45px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 17px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 4;
}
.flex-row-dda {
    position: relative;
    width: 786px;
    height: 294px;
    margin: 0 0 0 43px;
    z-index: 6;
}
.media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 319px;
    height: 262px;
    top: 32px;
    left: 0;
    z-index: 6;
}
.picture-related {
    flex-shrink: 0;
    position: relative;
    width: 319px;
    height: 214px;
    background: linear-gradient(180deg, rgba(53, 17, 56, 0.6), #351138);
    z-index: 7;
    overflow: hidden;
    border-radius: 27px;
}
.media-text-background {
    position: absolute;
    width: 319px;
    height: 214px;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 9;
    background: #351138;
    background: -moz-linear-gradient(top, #35113896 0%, #351138 100%);
    background: -webkit-linear-gradient(top, #35113896 0%, #351138 100%);
    background: linear-gradient(to bottom, #35113896 0%, #351138 100%);
    opacity: 0;

    transform: perspective(1px);
    transition-duration: 1s;
}
.media-text-background:hover {
    opacity: 1;
    transform: perspective(1px);
    transition-duration: 1s;
}
.liked {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 44px;
    height: 44px;
    margin: 4px 0 0 270px;
    padding: 3px 3px 3px 3px;
    background: #351138;
    z-index: 10;
    border-radius: 22px;
}
.favorite {
    flex-shrink: 0;
    position: relative;
    width: 37px;
    height: 37px;
    background: url("../images/heart.svg") no-repeat center;
    background-size: cover;
    z-index: 11;
    overflow: hidden;
}
.lorem-ipsum-dolor {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    width: 302px;
    height: 90px;
    margin: 59px 0 0 14px;
    color: #ffffff00;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 18.153px;
    text-align: left;
    letter-spacing: 0.6px;
    z-index: 9;

    transform: perspective(1px);
    transition-duration: 1s;
}
.lorem-ipsum-dolor:hover {
    color: #ffffff;
    transform: perspective(1px);
    transition-duration: 1s;
}
.media-picture {
    position: absolute;
    width: 319px;
    height: 214px;
    top: 0;
    left: 0;
    background: url("../images/smoothie-cafe.jpg") no-repeat center;
    background-size: cover;
    z-index: 8;
    border-radius: 27px;
}
.lorem-ipsum {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 302px;
    height: 48px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.96px;
    z-index: 12;
}
.main-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #351138;
    background: -moz-radial-gradient(center, #351138 0%, #010101 100%);
    background: -webkit-radial-gradient(center, #351138 0%, #010101 100%);
    background: radial-gradient(ellipse at center, #351138 0%, #010101 100%);
}
.nav-bar-background {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: #351138;
    background: -moz-linear-gradient(top, #351138 0%, #35113800 100%);
    background: -webkit-linear-gradient(top, #351138 0%, #35113800 100%);
    background: linear-gradient(to bottom, #351138 0%, #35113800 100%);
    background-size: cover;
    z-index: 14;
}











  .flex-row-a {
    position: relative;
    width: 831px;
    height: 719px;
    margin: 128px 0 0 404px;
    z-index: 22;
  }
  .register-background {
    position: absolute;
    width: 631px;
    height: 719px;
    top: 0;
    left: 0;
    background: rgba(15, 15, 15, 0.6);
    z-index: 2;
    border-radius: 32px;
    backdrop-filter: blur(50px);
  }
  .flex-column {
    position: absolute;
    width: 449px;
    height: 603.99px;
    top: 43.01px;
    left: 88px;
    font-size: 0px;
    z-index: 25;
  }
  .create-account-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 382px;
    height: 54.133px;
    margin: 0 0 0 37px;
    color: #9544b0;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 25;
  }
  .username-input {
    display: block;
    position: relative;
    height: 40.253px;
    margin: 40.857px 0 0 18px;
    color: #9544b0;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 29.045px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
  }
  .username-email-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 11px;
    position: relative;
    width: 420px;
    margin: 12.492px 0 0 18px;
    padding: 0 19px 0 19px;
    background: rgba(36, 36, 36, 0.42);
    border: 3px solid #9544b0;
    z-index: 17;
    border-radius: 1000px;
    box-sizing: content-box;
  }
  .username-email-input {
    flex-shrink: 0;
    position: relative;
    width: 361px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    z-index: 18;
  }
  .email-input {
    display: block;
    position: relative;
    height: 40.576px;
    margin: 22.255px 0 0 18px;
    color: #9544b0;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 29.045px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .email-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 11px;
    position: relative;
    width: 420px;
    margin: 12.17px 0 0 18px;
    padding: 0 19px 0 19px;
    background: rgba(36, 36, 36, 0.42);
    border: 3px solid #9544b0;
    z-index: 13;
    border-radius: 1000px;
    box-sizing: content-box;
  }
  .email-input-2 {
    flex-shrink: 0;
    position: relative;
    width: 361px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    z-index: 14;
  }
  .password-input {
    display: block;
    position: relative;
    height: 40.253px;
    margin: 35.255px 0 0 18px;
    color: #9544b0;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 29.045px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }
  .password-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 11px;
    position: relative;
    width: 420px;
    margin: 15.268px 0 0 18px;
    padding: 0 19px 0 19px;
    background: rgba(36, 36, 36, 0.42);
    border: 3px solid #9544b0;
    z-index: 7;
    overflow: hidden;
    border-radius: 1000px;
    box-sizing: content-box;
  }
  .password-bar-input {
    flex-shrink: 0;
    position: absolute;
    width: 420px;
    height: 50px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 10;
    outline: none;
  }
  .password-input-3 {
    flex-shrink: 0;
    position: relative;
    width: 323px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    z-index: 8;
  }
  .eye-password {
    flex-shrink: 0;
    position: relative;
    width: 50px;
    height: 50px;
    background: url(./assets/images/e63b014a-d7f1-42e9-a853-5615430dffcc.png)
      no-repeat center;
    background-size: cover;
    z-index: 9;
    overflow: hidden;
  }
  .enregistrer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 449px;
    height: 83px;
    margin: 57.479px 0 0 0;
    padding: 19px 119px 19px 119px;
    cursor: pointer;
    background: #9544b0;
    border: none;
    z-index: 3;
    border-radius: 70px;
  }
  .enregistrer-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 178px;
    height: 39px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
    text-align: center;
    white-space: nowrap;
    z-index: 4;
  }
  .flex-column-a {
    position: absolute;
    width: 41px;
    height: 308px;
    top: 195px;
    left: 537px;
    z-index: 24;
  }
  .info-icon-username {
    position: relative;
    width: 41px;
    height: 41px;
    margin: 0 0 0 0;
    background: url(./assets/images/9cab37b4-babb-4908-a1df-0a071b395366.png)
      no-repeat center;
    background-size: cover;
    z-index: 24;
    overflow: hidden;
  }
  .info-icon-password {
    position: relative;
    width: 41px;
    height: 41px;
    margin: 226px 0 0 0;
    background: url(./assets/images/5f3aca5e-27d0-40a8-8386-880bb5a9d97c.png)
      no-repeat center;
    background-size: cover;
    z-index: 21;
    overflow: hidden;
  }
  .info-username-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 253px;
    height: 50px;
    top: 231px;
    left: 578px;
    padding: 15px 23px 15px 23px;
    cursor: pointer;
    background: rgba(15, 15, 15, 0.8);
    border: none;
    z-index: 22;
    border-radius: 20px;
  }
  .minimum-maximum-caracteres {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 209px;
    height: 38px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    text-align: left;
    z-index: 23;
  }
  .info-password-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 253px;
    height: 114px;
    top: 498px;
    left: 578px;
    padding: 14px 18px 14px 18px;
    background: rgba(15, 15, 15, 0.8);
    z-index: 19;
    border-radius: 20px;
  }
  .minimum-caracteres-letter-number-special {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 194px;
    height: 95px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.364px;
    text-align: left;
    z-index: 20;
  }
  